<%- include('header') %>

<body>
    This tools is merely automatizing the tedious parts of 
    <a href="https://thebestoftimes.moddinglinked.com/intro.html">The Best of Times</a>. It does not replace them. For troubleshooting, refers to them.  <br>
     <br>
    <br>
    <b>Requirements</b> 
    <br>
    - A Steam library <b>NOT</b> located in Documents or in Program Files  <br>
    - A non potato gaming computer   <br>
    - Latest Video Driver  <br>
    - <a href="/startdownload/VCRedist"><button>All the VSC redistribuable</button></a> Click the button to download them. Then, Run as administrator the bat file at the root of this project.

    <br>
        <b>Manual Steps</b> 
    <br>
    -Install Fallout New Vegas somewhere not in Documents/Desktop/Program Files <br>
    -Install Fallout 3 Goty somewhere not in Documents/Desktop/Program Files but IN THE SAME DRIVE as <b>Fallout New Vegas</b><br>
<br>
    -Launch Fallout 3 Goty at least once and in the launcher options make sure the correct graphic card is selected and everything maxed. If its not, check power options for software on your laptop.<br>
    -Launch Fallout New Vegas at least once, same as above.<br>


    



</body>

<%- include('footer') %>